{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DataScience</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" crossorigin="anonymous">
        
        <style>

            .card{
                margin: auto;
                height: 500px;
            }
        </style>
</head>

<body>


    <div class="container">
        <form method="POST" action="" class="shadow-lg p-3 mb-5 bg-white rounded">
            {% csrf_token %}
            <div class="form-group">
                <h2 style="text-align: center;">DATASCIENCE PROJECT</h2>
                <textarea class="form-control" rows="3" name="chat" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        <h1 style="text-align: center;">Classification : {{ label }}</h1>
        <p class="card-text" style="text-align: center;"><small class="text-muted">Accuracy : {{ acc }} %</small></p>
        </form>
        <div class="row">
        <div class="card text-white bg-dark " style="max-width: 18rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">comp.graphics</h5>
                <p class="card-text">
                    I am a Mac-user when it comes to graphics (that's what I own software and hardware for) and
                    I've recently come across a large number of TTTDDD format modeling databases.  Is there any
                    software, mac or unix, for translating those to something I could use, like DXF?  Please
                    reply via email.</p>
            </div>
        </div>

        <div class="card text-white bg-dark" style="max-width: 18rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">comp.os.ms-windows.misc</h5>
                <p class="card-text">I am looking for comments on Xtree (Pro ??) for Windows.  I am 
                    thinking of buying the product but I have not even seen it yet.
                    
                    Thank you...</p>
            </div>
        </div>
        
        <div class="card text-white bg-dark" style="max-width: 18rem;">
            <div class="card-header">ตัวอย่างบทสนทนา</div>
            <div class="card-body">
                <h5 class="card-title">comp.sys.ibm.pc.hardware</h5>
                <p class="card-text">
                    I've acquired an old Logitech Series 7 (3-button) mouse, and I'm told
                    that this is a bus mouse.  Does anyone want to unload an old
                    (pc-clone) bus-card for this mouse?
                    </p>
            </div>
        </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>